<script src='/vendors/bootstrap-maxlength/bootstrap-maxlength.min.js'></script>
<link rel="stylesheet" href="/vendors/bootstrap-maxlength/bootstrap-maxlength.min.css">

<link rel="stylesheet" href="/vendors/flag-icon-css/flag-icon.min.css">

<script src='/vendors/initial/initial.min.js'></script>

<script src='/vendors/switchery/switchery.min.js'></script>
<link rel="stylesheet" href="/vendors/switchery/switchery.min.css">


<!---->


<script src="/assets/vendor/animsition/jquery.animsition.js"></script>
<script src="/assets/vendor/asscroll/jquery-asScroll.js"></script>
<script src="/assets/vendor/mousewheel/jquery.mousewheel.js"></script>
<script src="/assets/vendor/asscrollable/jquery.asScrollable.all.js"></script>
<script src="/assets/vendor/ashoverscroll/jquery-asHoverScroll.js"></script>

<!-- Plugins -->
<script src="/assets/vendor/switchery/switchery.min.js"></script>
<script src="/assets/vendor/intro-js/intro.js"></script>
<script src="/assets/vendor/screenfull/screenfull.js"></script>
<script src="/assets/vendor/slidepanel/jquery-slidePanel.js"></script>
<script src="/assets/vendor/bootstrap-select/bootstrap-select.min.js"></script>
<script src="/assets/vendor/footable/footable.all.min.js"></script>
<script src="/assets/vendor/bootstrap-sweetalert/sweet-alert.min.js"></script>
<script src="/assets/vendor/webui-popover/jquery.webui-popover.min.js"></script>
<script src="/assets/vendor/jquery-strength/jquery-strength.min.js"></script>
<script src="/assets/vendor/formvalidation/formValidation.min.js"></script>
<script src="/assets/vendor/formvalidation/framework/bootstrap.min.js"></script>
<script src="/assets/vendor/bootstrap-maxlength/bootstrap-maxlength.js"></script>
<script src="/assets/vendor/selectable/selectable.min.js"></script>
<script src="/assets/vendor/clipboard/clipboard.min.js"></script>
<script src="/assets/vendor/peity/jquery.peity.min.js"></script>


<!-- Scripts -->
<script src="/assets/js/core.js"></script>
<script src="/assets/js/site.js"></script>

<script src="/assets/js/sections/menu.js"></script>
<script src="/assets/js/sections/menubar.js"></script>
<script src="/assets/js/sections/sidebar.js"></script>

<script src="/assets/js/configs/config-colors.js"></script>
<script src="/assets/js/configs/config-tour.js"></script>

<script src="/assets/js/components/asscrollable.js"></script>
<script src="/assets/js/components/animsition.js"></script>
<script src="/assets/js/components/slidepanel.js"></script>
<script src="/assets/js/components/switchery.js"></script>
<script src="/assets/js/components/bootstrap-select.min.js"></script>
<script src="/assets/js/components/bootstrap-sweetalert.min.js"></script>
<script src="/assets/js/components/webui-popover.min.js"></script>
<script src="/assets/js/components/jquery-strength.min.js"></script>
<script src="/assets/js/components/bootstrap-maxlength.min.js"></script>
<script src="/assets/js/components/selectable.min.js"></script>
<script src="/assets/js/components/input-group-file.min.js"></script>
<script src="/assets/js/components/clipboard.js"></script>
<script src="/assets/js/components/peity.min.js"></script>
<script src="/assets/js/components/jsPlumb-2.0.6.js"></script>

<script>
    (function(document, window, $) {

        $(document).ready(function() {
            Site.run();

            if ($('.list-group[data-plugin="nav-tabs"]').length) {
                $('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
                    $(e.target).addClass('active').siblings().removeClass(
                            'active');
                });
            }

        });

    })(document, window, jQuery);
</script>