{% if project.properties.numPlayers %}
    {% set numPlayers = project.properties.numPlayers %}
{% else %}
    {% set numPlayers = 1 %}
{% endif %}
<script>
    $(function() {
        <!-- -->
        console.log({{project.properties|json|raw}});
        var play = Play({
            id: '{{project.project}}',
            project: '{{project.id}}',
            width: '{{project.resolution.x}}',
            height: '{{project.resolution.y}}',
            room: '{{project.id}}',
            properties: {{project.properties|json|raw}}
        });

        {% if player %}
        play.setOption('player', {
            id: '{{player.user.id}}',
            name: '{{player.user.name}}'
        });
        {% endif %}

        {% if posActivities.current %}
        play.activity.load({
            id: '{{posActivities.current.id}}',
            num: {{posActivities.current.num}}
        });
        {% endif %}
        <!-- -->

        var $user = '';
        var $select_player = $('#modal-select-player');
        var $project_finished = $('#modal-finished-project');
        var $play = $('.play');

        $(document).on('click', '.select-player', function () {
            var user_id = $(this).data('user');
//        socket.emit('project:join', '{{project.id}}');
            $.ajax({
                type: "POST",
                url: "/play/{{project.project}}/player",
                data: {
                    type: 'select',
                    player_id: user_id
                },
                success: function(data){
                    location.reload();
                    socket.emit('server project:player:connected', {room: '{{project.id}}', player: data});
                }
            });
        });

        {% if player.project != req.project.id or not player.user %}
        $select_player.modal({
            show: true,
            keyboard: false,
            backdrop: 'static'
        });
        {% endif %}
        {% if !posActivities.current && player.user %}
            $project_finished.modal({show: true, keyboard: false, backdrop: 'static'});
        {% endif %}
    socket.on('disconnect', function() {
//        socket.emit('server project:player:disconnected', {room: '{{project.id}}', player: {{player|json|raw}}});
    });
    {% if player.project == req.project.id %}
        socket.emit('server project:player:connected', {room: '{{project.id}}', player: {{player|json|raw}}});
    {% endif %}

    socket.on('connect', function() {

    });


    //    $(window).bind('beforeunload', function(){
    //        socket.emit('server project:player:disconnected', {room: '{{project.id}}', player: {{player|json|raw}}});
    //        socket.disconnect();
    //    });
    });
</script>
<style>
    .element{
        position: absolute;
    }
    .area{
        background-color: #f0f1f1;
        border: 2px dashed #8c8c8c;
    }
    .token{
        background-color: #fff;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        background-color: #fff;
        padding: 10px;
        border: 1px solid #8c8c8c;
        transition: transform 0.3s ease;
        /*border-bottom-color: #DEDEDE;*/
        /*border-bottom: 3px solid;*/
        border-radius: 8px;
        margin: 0px 5px 10px 0px;
        box-shadow: 0 2px 0 0 #AFAFAF;
    }
    .token-clickable{
        cursor: pointer;
    }
    .token-droppable-over{
        transform: scale(1.1);
    }
    .token-clickable:hover{
        transform: scale(1.1);
    }
    .token-clickable:active{
        opacity: 0.8;
        box-shadow: 0 0 0 0 #AFAFAF;
    }

    #modal-select-player .disabled .playing {
        display: block;
    }
    #modal-select-player .select-player .playing {
        display: none;
    }
</style>
<!-- load modals -->
{% include "../play/modals/select_player.html" %}
{% include "../play/modals/project_finished.html" %}
<!-- modals end -->