<div class="site-menubar-body">
    <div>
        <div>
            <ul class="site-menu">
                <li class="site-menu-category">General</li>
                <li class="site-menu-item has-sub">
                    <a href="javascript:void(0)" data-slug="layout">
                        <i class="site-menu-icon wb-layout" aria-hidden="true"></i>
                        <span class="site-menu-title">{{gettext('classrooms')}}</span>
                        <span class="site-menu-arrow"></span>
                    </a>
                    <ul class="site-menu-sub">
                        <li class="site-menu-item">
                            <a class="animsition-link" href="layouts/grids.html" data-slug="layout-grids">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">{{gettext('classrooms:my')}}</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="layouts/headers.html" data-slug="layout-headers">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Different Headers</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="layouts/bordered-header.html" data-slug="layout-bordered-header">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Bordered Header</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="layouts/two-columns.html" data-slug="layout-two-columns">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Two Columns</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="layouts/boxed.html" data-slug="layout-boxed">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Boxed Layout</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="layouts/blank.html" data-slug="layout-blank">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Blank Page</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="layouts/menu-collapsed.html" data-slug="layout-menu-collapsed">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Menu Collapsed</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="layouts/menu-expended.html" data-slug="layout-menu-expended">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Menu Expended</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="layouts/menubar-flipped.html" data-slug="layout-menubar-flipped">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Menubar Flipped</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="site-menu-item has-sub">
                    <a href="javascript:void(0)" data-slug="page">
                        <i class="site-menu-icon wb-file" aria-hidden="true"></i>
                        <span class="site-menu-title">Pages</span>
                        <span class="site-menu-arrow"></span>
                    </a>
                    <ul class="site-menu-sub">
                        <li class="site-menu-item has-sub">
                            <a href="javascript:void(0)" data-slug="">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Errors</span>
                                <span class="site-menu-arrow"></span>
                            </a>
                            <ul class="site-menu-sub">
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="pages/400.html" data-slug="page-error-400">
                                        <i class="site-menu-icon " aria-hidden="true"></i>
                                        <span class="site-menu-title">400</span>
                                    </a>
                                </li>
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="pages/403.html" data-slug="page-error-403">
                                        <i class="site-menu-icon " aria-hidden="true"></i>
                                        <span class="site-menu-title">403</span>
                                    </a>
                                </li>
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="pages/404.html" data-slug="page-error-404">
                                        <i class="site-menu-icon " aria-hidden="true"></i>
                                        <span class="site-menu-title">404</span>
                                    </a>
                                </li>
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="pages/500.html" data-slug="page-error-500">
                                        <i class="site-menu-icon " aria-hidden="true"></i>
                                        <span class="site-menu-title">500</span>
                                    </a>
                                </li>
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="pages/503.html" data-slug="page-error-503">
                                        <i class="site-menu-icon " aria-hidden="true"></i>
                                        <span class="site-menu-title">503</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="pages/faq.html" data-slug="page-faq">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">FAQ</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="pages/register.html" data-slug="page-register">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Register</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="pages/login.html" data-slug="page-login">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Login</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="pages/lockscreen.html" data-slug="page-lockscreen">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Lockscreen</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="pages/forgot-password.html" data-slug="page-forgot-password">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Forgot Password</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="pages/maintenance.html" data-slug="page-maintenance">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Maintenance</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="pages/email.html" data-slug="page-email">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Email</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="pages/invoice.html" data-slug="page-invoice">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Invoice</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="pages/profile.html" data-slug="page-profile">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Profile</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="pages/search-result.html" data-slug="page-search-result">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Search Result</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="pages/user.html" data-slug="page-user">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">User</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="pages/code-editor.html" data-slug="page-code-editor">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Code Editor</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="pages/gallery.html" data-slug="page-gallery">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Gallery</span>
                            </a>
                        </li>
                        <li class="site-menu-item has-sub">
                            <a href="javascript:void(0)" data-slug="page-map">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Maps</span>
                                <span class="site-menu-arrow"></span>
                            </a>
                            <ul class="site-menu-sub">
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="pages/map-google.html" data-slug="page-map-google">
                                        <i class="site-menu-icon " aria-hidden="true"></i>
                                        <span class="site-menu-title">Google Maps</span>
                                    </a>
                                </li>
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="pages/map-vector.html" data-slug="page-map-vector">
                                        <i class="site-menu-icon " aria-hidden="true"></i>
                                        <span class="site-menu-title">Vector Maps</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="site-menu-category">Elements</li>
                <li class="site-menu-item has-sub">
                    <a href="javascript:void(0)" data-slug="uikit">
                        <i class="site-menu-icon wb-bookmark" aria-hidden="true"></i>
                        <span class="site-menu-title">Basic UI</span>
                        <span class="site-menu-arrow"></span>
                    </a>
                    <ul class="site-menu-sub">
                        <li class="site-menu-item">
                            <a class="animsition-link" href="uikit/buttons.html" data-slug="uikit-buttons">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Buttons</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="uikit/colors.html" data-slug="uikit-colors">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Colors</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="uikit/dropdowns.html" data-slug="uikit-dropdowns">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Dropdowns</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="uikit/list.html" data-slug="uikit-list">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">List</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="uikit/icons.html" data-slug="uikit-icons">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Icons</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="uikit/images.html" data-slug="uikit-images">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Images</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="uikit/carousel.html" data-slug="uikit-carousel">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Carousel</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="uikit/modals.html" data-slug="uikit-modals">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Modals</span>
                            </a>
                        </li>
                        <li class="site-menu-item has-sub">
                            <a href="javascript:void(0)" data-slug="uikit-panel">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Panel</span>
                                <span class="site-menu-arrow"></span>
                            </a>
                            <ul class="site-menu-sub">
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="uikit/panel-structure.html" data-slug="uikit-panel-structure">
                                        <i class="site-menu-icon " aria-hidden="true"></i>
                                        <span class="site-menu-title">Panel Structure</span>
                                    </a>
                                </li>
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="uikit/panel-actions.html" data-slug="uikit-panel-actions">
                                        <i class="site-menu-icon " aria-hidden="true"></i>
                                        <span class="site-menu-title">Panel Actions</span>
                                    </a>
                                </li>
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="uikit/panel-portlets.html" data-slug="uikit-panel-portlets">
                                        <i class="site-menu-icon " aria-hidden="true"></i>
                                        <span class="site-menu-title">Panel Portlets</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="uikit/progress-bars.html" data-slug="uikit-progress-bars">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Progress Bars</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="uikit/badges-labels.html" data-slug="uikit-badges-labels">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Badges &amp; Labels</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="uikit/tooltip-popover.html" data-slug="uikit-tooltip-popover">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Tooltip &amp; Popover</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="uikit/tabs-accordions.html" data-slug="uikit-tabs-accordions">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Tabs &amp; Accordions</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="uikit/typography.html" data-slug="uikit-typography">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Typography</span>
                                <div class="site-menu-badge">
                                    <span class="badge badge-primary">5</span>
                                </div>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="uikit/utilities.html" data-slug="uikit-utilities">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Utilties</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="site-menu-item has-sub">
                    <a href="javascript:void(0)" data-slug="advanced">
                        <i class="site-menu-icon wb-hammer" aria-hidden="true"></i>
                        <span class="site-menu-title">Advanced UI</span>
                        <span class="site-menu-arrow"></span>
                    </a>
                    <ul class="site-menu-sub">
                        <li class="site-menu-item">
                            <a class="animsition-link" href="advanced/animation.html" data-slug="advanced-animation">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Animation</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="advanced/lightbox.html" data-slug="advanced-lightbox">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Lightbox</span>
                            </a>
                        </li>
                        <li class="site-menu-item hidden-xs">
                            <a href="javascript:void(0)" data-slug="advanced-tour">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Tour</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="advanced/treeview.html" data-slug="advanced-treeview">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Treeview</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="advanced/rating.html" data-slug="advanced-rating">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Rating</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="advanced/alertify.html" data-slug="advanced-alertify">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Alertify</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="advanced/toastr.html" data-slug="advanced-toastr">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Toastr</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="advanced/context-menu.html" data-slug="advanced-context-menu">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Context Menu</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="advanced/bootbox-sweetalert.html" data-slug="advanced-bootbox-sweetalert">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Bootbox &amp; Sweetalert</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="advanced/sortable-nestable.html" data-slug="advanced-sortable-nestable">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Sortable &amp; Nestable</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="advanced/scrollable.html" data-slug="advanced-scrollable">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Scrollable</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="advanced/highlight.html" data-slug="advanced-highlight">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Highlight</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="advanced/masonry.html" data-slug="advanced-masonry">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Masonry</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="advanced/maps-vector.html" data-slug="advanced-maps-vector">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Vector Maps</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="advanced/maps-google.html" data-slug="advanced-maps-google">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Google Maps</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="site-menu-item has-sub">
                    <a href="javascript:void(0)" data-slug="structure">
                        <i class="site-menu-icon wb-plugin" aria-hidden="true"></i>
                        <span class="site-menu-title">Structure</span>
                        <span class="site-menu-arrow"></span>
                    </a>
                    <ul class="site-menu-sub">
                        <li class="site-menu-item">
                            <a class="animsition-link" href="structure/alerts.html" data-slug="structure-alerts">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Alerts</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="structure/blockquotes.html" data-slug="structure-blockquotes">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Blockquotes</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="structure/breadcrumbs.html" data-slug="structure-breadcrumbs">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Breadcrumbs</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="structure/cover.html" data-slug="structure-cover">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Cover</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="structure/overlay.html" data-slug="structure-overlay">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Overlay</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="structure/comments.html" data-slug="structure-comments">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Comments</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="structure/media.html" data-slug="structure-media">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Media</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="structure/nav.html" data-slug="structure-nav">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Nav</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="structure/navbars.html" data-slug="structure-navbars">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Navbars</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="structure/pagination.html" data-slug="structure-pagination">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Pagination</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="structure/pricing-tables.html" data-slug="structure-pricing-tables">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Pricing Tables</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="structure/testimonials.html" data-slug="structure-testimonials">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Testimonials</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="structure/ribbon.html" data-slug="structure-ribbon">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Ribbon</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="structure/step.html" data-slug="structure-step">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Step</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="structure/chat.html" data-slug="structure-chat">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Chat</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="structure/timeline.html" data-slug="structure-timeline">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Timeline</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="structure/timeline-simple.html" data-slug="structure-timeline-simple">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Simple Timeline</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="site-menu-item has-sub">
                    <a href="javascript:void(0)" data-slug="widgets">
                        <i class="site-menu-icon wb-extension" aria-hidden="true"></i>
                        <span class="site-menu-title">Widgets</span>
                        <span class="site-menu-arrow"></span>
                    </a>
                    <ul class="site-menu-sub">
                        <li class="site-menu-item">
                            <a class="animsition-link" href="widgets/blog.html" data-slug="widgets-blog">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Blog Widgets</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="widgets/data.html" data-slug="widgets-data">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Data Widgets</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="widgets/chart.html" data-slug="widgets-chart">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Chart Widgets</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="widgets/social.html" data-slug="widgets-social">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Social Widgets</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="widgets/statistics.html" data-slug="widgets-statistics">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Statistics Widgets</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="widgets/weather.html" data-slug="widgets-weather">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Weather Widgets</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="site-menu-item has-sub">
                    <a href="javascript:void(0)" data-slug="forms">
                        <i class="site-menu-icon wb-library" aria-hidden="true"></i>
                        <span class="site-menu-title">Forms</span>
                        <span class="site-menu-arrow"></span>
                    </a>
                    <ul class="site-menu-sub">
                        <li class="site-menu-item">
                            <a class="animsition-link" href="forms/general.html" data-slug="forms-general">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">General Elements</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="forms/material.html" data-slug="forms-material">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Material Elements</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="forms/advanced.html" data-slug="forms-advanced">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Advanced Elements</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="forms/layouts.html" data-slug="forms-layouts">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Form Layouts</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="forms/wizard.html" data-slug="forms-wizard">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Form Wizard</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="forms/validation.html" data-slug="forms-validation">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Form Validation</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="forms/masks.html" data-slug="forms-masks">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Form Masks</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="forms/editable.html" data-slug="forms-editable">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Form Editable</span>
                            </a>
                        </li>
                        <li class="site-menu-item has-sub">
                            <a href="javascript:void(0)" data-slug="forms-editor">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Editors</span>
                                <span class="site-menu-arrow"></span>
                            </a>
                            <ul class="site-menu-sub">
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="forms/editor-summernote.html" data-slug="forms-editor-summernote">
                                        <i class="site-menu-icon " aria-hidden="true"></i>
                                        <span class="site-menu-title">Summernote</span>
                                    </a>
                                </li>
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="forms/editor-markdown.html" data-slug="forms-editor-markdown">
                                        <i class="site-menu-icon " aria-hidden="true"></i>
                                        <span class="site-menu-title">Markdown</span>
                                    </a>
                                </li>
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="forms/editor-ace.html" data-slug="forms-editor-ace">
                                        <i class="site-menu-icon " aria-hidden="true"></i>
                                        <span class="site-menu-title">Ace Editor</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="forms/image-cropping.html" data-slug="forms-image-cropping">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Image Cropping</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="forms/file-uploads.html" data-slug="forms-file-uploads">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">File Uploads</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="site-menu-item has-sub">
                    <a href="javascript:void(0)" data-slug="tables">
                        <i class="site-menu-icon wb-table" aria-hidden="true"></i>
                        <span class="site-menu-title">Tables</span>
                        <span class="site-menu-arrow"></span>
                    </a>
                    <ul class="site-menu-sub">
                        <li class="site-menu-item">
                            <a class="animsition-link" href="tables/basic.html" data-slug="tables-basic">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Basic Tables</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="tables/bootstrap.html" data-slug="tables-bootstrap">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Bootstrap Tables</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="tables/responsive.html" data-slug="tables-responsive">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Responsive Tables</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="tables/datatable.html" data-slug="tables-datatable">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Data Tables</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="tables/editable.html" data-slug="tables-editable">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Editable Tables</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="tables/footable.html" data-slug="tables-foo">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">FooTable</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="tables/floatthead.html" data-slug="tables-floatthead">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">floatThead</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="site-menu-item has-sub">
                    <a href="javascript:void(0)" data-slug="chart">
                        <i class="site-menu-icon wb-pie-chart" aria-hidden="true"></i>
                        <span class="site-menu-title">Chart</span>
                        <span class="site-menu-arrow"></span>
                    </a>
                    <ul class="site-menu-sub">
                        <li class="site-menu-item">
                            <a class="animsition-link" href="charts/chartist.html" data-slug="chart-chartist">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Chartist.js</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="charts/c3.html" data-slug="chart-c3">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">C3</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="charts/chartjs.html" data-slug="chart-chartjs">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Chart.js</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="charts/morris.html" data-slug="chart-morris">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Morris</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="charts/flot.html" data-slug="chart-flot">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Flot</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="charts/sparkline.html" data-slug="chart-sparkline">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Sparkline</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="charts/peity.html" data-slug="chart-peity">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Peity</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="charts/gauges.html" data-slug="chart-gauges">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Gauges</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="charts/pie-progress.html" data-slug="chart-pie-progress">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Pie Progress</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="charts/rickshaw.html" data-slug="chart-rickshaw">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Rickshaw</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="site-menu-category">Apps</li>
                <li class="site-menu-item has-sub">
                    <a href="javascript:void(0)" data-slug="app">
                        <i class="site-menu-icon wb-grid-4" aria-hidden="true"></i>
                        <span class="site-menu-title">Apps</span>
                        <span class="site-menu-arrow"></span>
                    </a>
                    <ul class="site-menu-sub">
                        <li class="site-menu-item">
                            <a class="animsition-link" href="apps/calendar/calendar.html" data-slug="app-calendar">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Calendar</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="apps/contacts/contacts.html" data-slug="app-contacts">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Contacts</span>
                            </a>
                        </li>
                        <li class="site-menu-item has-sub">
                            <a href="javascript:void(0)" data-slug="app-document">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Documents</span>
                                <span class="site-menu-arrow"></span>
                            </a>
                            <ul class="site-menu-sub">
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="apps/documents/articles.html" data-slug="app-document-articles">
                                        <i class="site-menu-icon " aria-hidden="true"></i>
                                        <span class="site-menu-title">Articles</span>
                                    </a>
                                </li>
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="apps/documents/categories.html" data-slug="app-document-categories">
                                        <i class="site-menu-icon " aria-hidden="true"></i>
                                        <span class="site-menu-title">Categories</span>
                                    </a>
                                </li>
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="apps/documents/article.html" data-slug="app-document-article">
                                        <i class="site-menu-icon " aria-hidden="true"></i>
                                        <span class="site-menu-title">Article</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="apps/mailbox/mailbox.html" data-slug="app-mailbox">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Mailbox</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="apps/projects/projects.html" data-slug="app-projects">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Projects</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="apps/forum/forum.html" data-slug="app-forum">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Forum</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="apps/media/overview.html" data-slug="app-media">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">Media</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="site-menu-category">Angular UI</li>
                <li class="site-menu-item">
                    <a class="animsition-link" href="angular/#/angularui/bootstrap" data-slug="angular">
                        <i class="site-menu-icon bd-angular" aria-hidden="true"></i>
                        <span class="site-menu-title">Angular UI</span>
                        <div class="site-menu-label">
                            <span class="label label-danger label-round">new</span>
                        </div>
                    </a>
                </li>
            </ul>

            <div class="site-menubar-section">
                <h5>
                    Milestone
                    <span class="pull-right">30%</span>
                </h5>
                <div class="progress progress-xs">
                    <div class="progress-bar active" style="width: 30%;" role="progressbar"></div>
                </div>
                <h5>
                    Release
                    <span class="pull-right">60%</span>
                </h5>
                <div class="progress progress-xs">
                    <div class="progress-bar progress-bar-warning" style="width: 60%;" role="progressbar"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-menubar-footer">
    <a href="javascript: void(0);" class="fold-show" data-placement="top" data-toggle="tooltip"
       data-original-title="Settings">
        <span class="icon wb-settings" aria-hidden="true"></span>
    </a>
    <a href="javascript: void(0);" data-placement="top" data-toggle="tooltip" data-original-title="Lock">
        <span class="icon wb-eye-close" aria-hidden="true"></span>
    </a>
    <a href="javascript: void(0);" data-placement="top" data-toggle="tooltip" data-original-title="Logout">
        <span class="icon wb-power" aria-hidden="true"></span>
    </a>
</div>