<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle hamburger hamburger-close collapsed" data-target="#example-navbar-default-collapse" data-toggle="collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="hamburger-bar"></span>
            </button>
            <button type="button" class="navbar-toggle collapsed" data-target="#example-navbar-default-search" data-toggle="collapse">
                <span class="sr-only">Toggle Search</span>
                <i class="icon wb-search" aria-hidden="true"></i>
            </button>
            <a class="navbar-brand" href="javascript:void(0)">Brand</a>
        </div>
        <ul class="nav navbar-nav hidden-float">
            <li>
                <a href="javascript:void(0)">
                    <i class="icon wb-grid-4" aria-hidden="true"></i>
                </a>
            </li>
            <li class="hidden-xs">
                <a class="icon icon-fullscreen" data-toggle="fullscreen" href="#" role="button">
                    <span class="sr-only">Toggle fullscreen</span>
                </a>
            </li>
            <li class="hidden-float">
                <a class="icon wb-search" data-toggle="collapse" href="#example-navbar-default-search" role="button">
                    <span class="sr-only">Toggle Search</span>
                </a>
            </li>
        </ul>
        <div class="collapse navbar-collapse navbar-collapse-group" id="example-navbar-default-collapse">
            <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
                <li>
                    <a class="navbar-avatar dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                      <span class="avatar">
                        <img class="profile" data-name="{{player.user.name}}">
                      </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

