<div class="site-menubar-body">
    <div>
        <div>
            <ul class="site-menu">
                <li class="site-menu-category">{{gettext('administration:panel')}}</li>
                <li class="site-menu-item">
                    <a href="/" data-slug="/">
                        <i class="site-menu-icon wb-layout" aria-hidden="true"></i>
                        <span class="site-menu-title">{{gettext('dashboard')}}</span>
                    </a>
                </li>
                <li class="site-menu-item has-sub">
                    <a href="" data-slug="layout">
                        <i class="site-menu-icon wb-layout" aria-hidden="true"></i>
                        <span class="site-menu-title">{{gettext('classrooms')}}</span>
                        <span class="site-menu-arrow"></span>
                    </a>
                    <ul class="site-menu-sub">
                        <li class="site-menu-item">
                            <a href="/classrooms" data-slug="classrooms">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">{{gettext('classrooms:my')}}</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a href="/classroom/new" data-slug="layout-headers">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">{{gettext('classroom:new')}}</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="site-menu-item has-sub">
                    <a href="" data-slug="layout">
                        <i class="site-menu-icon wb-layout" aria-hidden="true"></i>
                        <span class="site-menu-title">{{gettext('projects')}}</span>
                        <span class="site-menu-arrow"></span>
                    </a>
                    <ul class="site-menu-sub">
                        <li class="site-menu-item">
                            <a href="/projects/my" data-slug="layout-grids">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">{{gettext('projects:my')}}</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a href="/project/new" data-slug="layout-headers">
                                <i class="site-menu-icon " aria-hidden="true"></i>
                                <span class="site-menu-title">{{gettext('projects:new')}}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
