<script>
    $(function(){
        var $classroom_import = $('#modal-import-classrooms'),
            $users_import = $('#modal-import-manual'),
            $file_import = $('#modal-import-file');

        $classroom_import.on('shown.bs.modal', function(){
            var $m_body = $(this).find('.modal-body');
            if($m_body.hasClass('loaded'))  return false;

            $.ajax({
                url: "/classrooms",
                context: document,
                success: function(html){
                    $m_body.html( html).addClass('loaded');
                }
            });
        });

        $classroom_import.find('.submit').click(function(){
            var checkboxes = $classroom_import.find('input[type="checkbox"]:checked');
            checkboxes.not('.uncheck').closest('li').each(function(){
                var self = $(this);
                var user = ({
                    id: self.find('input[type="checkbox"]').val(),
                    avatar: self.find('.profile').attr('src'),
                    name: self.find('.student-name').text()
                });
                self.hide();
                $('.players-list tbody').prepend('<tr data-user="'+user.id+'"> ' +
                        '<td> ' +
                        '<a class="popover-list avatar avatar-online margin-left icons" style="width: 30px;height: 30px;" href="javascript:;">' +
                        '<img src="'+user.avatar+'">' +
                        '</a> ' +
                        '</td> ' +
                        '<td>'+user.name+'</td> ' +
                        '<td> ' +
                        '<input type="hidden" name="players['+user.id+'][id]" value="'+user.id+'">' +
                        '<a class="btn btn-sm btn-icon btn-flat btn-default"><i class="fa fa-pencil"></i></a> ' +
                        '<a class="btn btn-sm btn-icon btn-flat btn-default"><i class="fa fa-times"></i></a> ' +
                        '</td> ' +
                        '</tr>');
            });
            checkboxes.prop('checked', false);
        });

        $users_import.find('.submit').click(function(){
            var $m_body = $(this).closest('.modal-content').find('.modal-body');
            $.ajax({
                url: "/player/new",
                type: "POST",
                dataType: "json",
                data: $m_body.find('.input-name').serialize(),
                success: function(users){
                    $.each(users, function(i, user){
                        $('.players-list tbody').prepend('<tr data-user="'+user._id+'"> ' +
                        '<td> ' +
                        '<a class="popover-list avatar avatar-online margin-left icons" style="width: 30px;height: 30px;" href="javascript:;">' +
                        '<img src="'+user.avatar+'">' +
                        '</a> ' +
                        '</td> ' +
                        '<td>'+user.name+'</td> ' +
                        '<td> ' +
                        '<input type="hidden" name="players['+user._id+'][id]" value="'+user._id+'">' +
                        '<a class="btn btn-sm btn-icon btn-flat btn-default"><i class="fa fa-pencil"></i></a> ' +
                        '<a class="btn btn-sm btn-icon btn-flat btn-default"><i class="fa fa-times"></i></a> ' +
                        '</td> ' +
                        '</tr>');
                    });
                }
            });
        });

        $file_import.find('#file_upload').change(function(){
            var fd = new FormData();
            fd.append('file_upload', document.getElementById("file_upload").files[0]);
            $file_import.find('.progress').hide();
            $.ajax({
                url: "/player/import",
                type: "POST",
                data: fd,
                xhr: function() {  // custom xhr
                    myXhr = $.ajaxSettings.xhr();
                    $file_import.find('.progress').show();
                    if(myXhr.upload){ // check if upload property exists
                        myXhr.upload.addEventListener('progress',function(evt){
                            if (evt.lengthComputable) {
                                var percentComplete = evt.loaded / evt.total;
                                $file_import.find('.progress-bar').css('width', percentComplete*100+'%');
                                console.log(percentComplete);
                            } else {
                                // Unable to compute progress information since the total size is unknown
                                console.log('unable to complete');
                            }
                        }, false); // for handling the progress of the upload
                    }
                    return myXhr;
                },
                processData: false,  // tell jQuery not to process the data
                contentType: false,   // tell jQuery not to set contentType
                success: function(html){
                    $('.user-list-document').html(html);
                }
            });
        });
    });
</script>
<div class="hidden popover-list-content">
    <ul class="nav nav-tabs nav-tabs-line" data-plugin="nav-tabs" role="tablist">
        <li class="active" role="presentation">
            <a data-toggle="tab" href=".icon-list.animals" role="tab">{{gettext('animals')}}</a>
        </li>
        <li role="presentation">
            <a data-toggle="tab" href=".icon-list.objects" role="tab">{{gettext('toys')}}</a>
        </li>
        <li role="presentation">
            <a data-toggle="tab" href=".icon-list.alphabet" role="tab">{{gettext('alphabet')}}</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="icon-list animals tab-pane active">
            <a class="avatar avatar-online margin-left icons an-1" style="width: 30px;height: 30px;" href="javascript:;"></a>
            <a class="avatar avatar-online margin-left icons an-2" style="width: 30px;height: 30px;" href="javascript:;"></a>
            <a class="avatar avatar-online margin-left icons an-3" style="width: 30px;height: 30px;" href="javascript:;"></a>
            <a class="avatar avatar-online margin-left icons an-4" style="width: 30px;height: 30px;" href="javascript:;"></a>
            <a class="avatar avatar-online margin-left icons an-5" style="width: 30px;height: 30px;" href="javascript:;"></a>
            <a class="avatar avatar-online margin-left icons an-6" style="width: 30px;height: 30px;" href="javascript:;"></a>
            <a class="avatar avatar-online margin-left icons an-7" style="width: 30px;height: 30px;" href="javascript:;"></a>
            <a class="avatar avatar-online margin-left icons an-8" style="width: 30px;height: 30px;" href="javascript:;"></a>
            <a class="avatar avatar-online margin-left icons an-9" style="width: 30px;height: 30px;" href="javascript:;"></a>
            <a class="avatar avatar-online margin-left icons an-10" style="width: 30px;height: 30px;" href="javascript:;"></a>
        </div>
        <div class="icon-list objects tab-pane">
            {% set iconCount = 100 %}
            {% set iconCountAsArray = Array(iconCount) %}
            {% for x, y in iconCountAsArray %}
            {% if x > 0 %}
            <a class="avatar avatar-online margin-left icons icon-{% if x < 10 %}0{% endif %}{{x}}" href="javascript:;" style="text-decoration:none;font-size: 25px;color: #358fe4;background: #e4eaec;border-radius: 100%;padding: 3px;text-align: center;height: 30px;width: 30px;"></a>
            {% endif %}
            {% endfor %}
        </div>
        <div class="icon-list alphabet tab-pane">
            {% set iconCountAlphAsArray = Array('A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z') %}
            {% for x, y in iconCountAlphAsArray %}
            <a class="avatar avatar-online" style="width: 30px;">
                <img data-name="{{y}}" class="profile" style="width: 30px;">
            </a>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Modal import from excel -->
<div class="modal fade modal-slide-from-bottom" id="modal-import-file"
     aria-hidden="true" role="dialog"
     tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">{{gettext('classrooms:my')}}</h4>
            </div>
            <div class="modal-body">
                <div class="nav-tabs-horizontal">
                    <ul class="nav nav-tabs nav-tabs-line" data-plugin="nav-tabs" role="tablist">
                        <li class="active" role="presentation"><a data-toggle="tab" href="#exampleTabsLineOne" aria-controls="exampleTabsLineOne" role="tab" aria-expanded="true">Cargar archivo</a></li>
                        <li role="presentation" class=""><a data-toggle="tab" href="#exampleTabsLineTwo" aria-controls="exampleTabsLineTwo" role="tab" aria-expanded="false">Confirmación</a></li>
                    </ul>
                    <div class="tab-content padding-top-20">
                        <div class="tab-pane active margin-bottom-20" id="exampleTabsLineOne" role="tabpanel">
                            <!-- -->
                            <div style="
    background: #f3f7f9;
    border: 2px dashed #76838f;
    height: 200px;
    display: table;
    width: 100%;
    position: relative;
">
                                <div style="
    display: table-cell;
    vertical-align: middle;
    text-align: center;
">
                                    <div>
                                        <i class="wb-plus font-size-40"></i><h4>Añadir archivo excel o csv</h4>
                                        <div class="progress progress-xs" style="width: 50%;margin: 0 auto;display: none;">
                                            <div class="progress-bar progress-bar-indicating active" style="width: 0%;" role="progressbar">
                                                <span class="sr-only">0% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="file" name="file_upload" id="file_upload" style="
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
">
                                </div>
                            </div>
                            <!-- -->
                        </div>
                        <div class="tab-pane" id="exampleTabsLineTwo" role="tabpanel">
                            <div class="user-list-document"></div>
                            <div class="modal-footer margin-top-20" style="padding-bottom: 0">
                                <button type="button" class="btn btn-default margin-0" data-dismiss="modal">{{gettext('close')}}</button>
                                <button type="button" class="btn btn-primary submit">{{gettext('add')}}</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<!-- End Modal import from excel -->
<!-- Modal import from my classrooms -->
<div class="modal fade modal-slide-from-bottom" id="modal-import-classrooms"
     aria-hidden="true" role="dialog"
     tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">{{gettext('classrooms:my')}}</h4>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <div class="loader loader-circle"></div>
                    <h3 class="text-muted">{{gettext('loading')}}...</h3>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default margin-0" data-dismiss="modal">{{gettext('close')}}</button>
                <button type="button" class="btn btn-primary submit" data-dismiss="modal">{{gettext('add')}}</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal import from my classrooms -->
<!-- Modal import manually -->
<div class="modal fade modal-slide-from-bottom" id="modal-import-manual"
     aria-hidden="true" role="dialog"
     tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
        <!--<form class="modal-content" action="/player/new" method="post" role="form" data-validation="true">-->
        {% if not classroom.isNew %}
        <input type="hidden" name="classroom" value="{{req.classroom.id}}">
        {% endif %}
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title">Importar estudiantes manualmente</h4>
        </div>
        <div class="modal-body">
            <ul class="list-group list-group-dividered list-group-full" id="toClone">
                <li class="list-group-item row">
                    <div class="col-xs-1">
                        <div class="img-circle" style="width: 30px;height: 30px;background-color: #e4eaec;"></div>
                    </div>
                    <div class="col-xs-10">
                        <input type="text" class="form-control input-name" required="required" autofocus placeholder="{{gettext('user:name')}}" name="players_name[]">
                    </div>
                    <div class="col-xs-1">
                        <a class="btn btn-sm btn-icon btn-pure btn-default" onclick="javascript:$(this).closest('.list-group-item').remove();"><i class="fa fa-times"></i></a>
                    </div>
                </li>
            </ul>
            <button type="button" class="btn btn-outline btn-primary btn-sm add-more" data-clone="#toClone li:first" data-clone-container="#toClone">
                <i class="icon fa fa-plus"></i> {{gettext('add')}}
            </button>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default margin-0" data-dismiss="modal">{{gettext('close')}}</button>
            <button type="button" class="btn btn-primary submit" data-dismiss="modal">{{gettext('create')}}</button>
        </div>
        <!--</form>-->
        </div>
    </div>
</div>
<!-- End Modal import manually -->
<table class="table toggle-circle players-list" id="table-filtering">
    <thead>
    <tr>
        <th data-sort-ignore="true"></th>
        <th>{{gettext('user:name')}}</th>
    </tr>
    </thead>
    <div class="form-inline padding-bottom-15">
        <div class="row">
            <div class="col-md-2">
                <button type="button" class="popover-list btn btn-default btn-outline dropdown-toggle">
                    <i class="icon wb-emoticon" aria-hidden="true"></i>
                    <span class="caret"></span>
                </button>
            </div>
            <div class="col-md-4">
                <div class="dropdown">
                    <button type="button" class="btn btn-outline btn-default dropdown-toggle" id="exampleIconsDropdown" data-toggle="dropdown" aria-expanded="false">
                        {{gettext('classroom:students:add')}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation">
                            <a href="javascript:void(0)" data-toggle="modal" data-target="#modal-import-file"  role="menuitem"><i class="icon fa fa-file-excel-o" aria-hidden="true"></i> Importar archivo excel</a>
                        </li>
                        <li role="presentation">
                            <a href="javascript:void(0)" data-toggle="modal" data-target="#modal-import-classrooms" role="menuitem"><i class="icon fa fa-list-ul" aria-hidden="true"></i> Importar desde mis clases</a>
                        </li>
                        <li role="presentation">
                            <a href="javascript:void(0)" data-toggle="modal" data-target="#modal-import-manual" role="menuitem"><i class="icon fa fa-plus" aria-hidden="true"></i> Crear manualmente</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <div class="form-group">
                    <input id="filteringSearch" type="text" placeholder="{{gettext('search')}}" class="form-control" autocomplete="off">
                </div>
            </div>
        </div>
    </div>
    <tbody>
    {% for player in players %}
    <tr data-user="{{player.user.id}}">
        <td>
            <a class="popover-list avatar avatar-online margin-left icons an-{{loop.index}}" style="width: 30px;height: 30px;" href="javascript:;"></a>
        </td>
        <td>{{player.user.name}}</td>
        <td>
            <a class="btn btn-sm btn-icon btn-flat btn-default"><i class="fa fa-pencil"></i></a>
            <a class="btn btn-sm btn-icon btn-flat btn-default" onclick="javascript:$(this).closest('tr').remove();"><i class="fa fa-times"></i></a>
            <input type="hidden" name="players[{{player.user.id}}][avatar]" value="">
            <input type="hidden" name="players[{{player.user.id}}][id]" value="{{player.user.id}}">
        </td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <td colspan="5">
            <div class="text-right">
                <ul class="pagination"></ul>
            </div>
        </td>
    </tr>
    </tfoot>
</table>