{% extends "layout.html" %}
{% block content %}
<form id        =  "upload_form"
      enctype   =  "multipart/form-data"
      action    =  "/project/upload"
      method    =  "post"
        >
    <p>
    <label>Nombre del proyecto</label><br>
    <input type="text" name="name" placeholder="¿Cuales son los animales?"/>
    </p>

    <label>Imagenes</label><br>
    <input type="file" name="images" multiple /><br><br>
    <label>XML</label><br>
    <input type="file" name="xml" />
    <br><br>
    <input type="submit" value="Upload" name="submit">
</form>
{% endblock %}