{% extends "../layouts/default.html" %}

{% block content %}

{% if classroom.isNew %}
    {% set action = '/classroom/new' %}
{% else %}
    {% set action = '/classroom/' + classroom._id %}
{% endif %}
<form data-validation="true" class="form-horizontal" action="{{action}}" method="post" role="form">
<div class="row">
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Parámetros</h3>
            </div>
            <div class="panel-body">
                <input type="hidden" name="_csrf" value="{{ csrf_token }}">
                {% if not classroom.isNew %}
                    <input type="hidden" name="_method" value="PUT">
                {% endif %}

                <div class="form-group">
                    <label class="col-sm-3 control-label">{{gettext('classroom:name')}}</label>
                    <div class="col-sm-9">
                        <input type="text" required class="form-control" name="name" value="{{classroom.name}}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{gettext('classroom:education_level')}}</label>
                    <div class="col-sm-9">
                        <select data-plugin="selectpicker" name="education_level">
                            {% for education_level in classroom.getEducationLevels() %}
                            <option value="{{education_level}}" {% if classroom.education_level == education_level %} selected {% endif %}>
                                {{gettext('education_level:'+education_level)}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">{{gettext('save')}}</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Classroom / students -->
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-body container-fluid">
                {% include "../player/admin/list.html" with players %}
            </div>
        </div>
    </div>
    <!-- Classroom / students end -->
</div>
</form>

<link href="/images/toys/style.css" rel="stylesheet">

<style>
    .icon-list{
        padding: 5px;
    }
    .icon-list a{
        margin: 4px;
    }
    .icons{
        background-image: url('/images/animals.png');
        background-color: #e4eaec;
        background-size: 540px;
        background-size: 450px;
        background-size: 600px;
    }
    .an-1{  background-position: -6px -6px;  }
    .an-2{  background-position: -74px -6px;  }
    .an-3{  background-position: -141px -6px;  }
    .an-4{  background-position: -176px -7px; background-size: 500px;  }
    .an-5{  background-position: -316px -13px;  background-size: 660px;  }
    .an-6{  background-position: -396px -13px;  background-size: 660px;  }
    .an-7{  background-position: -312px -4px;  background-size: 450px;  }
    .an-8{  background-position: -367px -7px;  background-size: 450px;  }
    .an-9{  background-position: -373px -6px;  background-size: 400px;  }
    .an-10{  background-position: 0px -44px;  background-size: 400px;  }
</style>
{% endblock %}
