{% extends "../layouts/default.html" %}

{% block actions %}
<a class="btn btn-md btn-primary" href="/classroom/new">Añadir clase</a>
{% endblock %}

{% block content %}

<div class="row">
{% for classroom in classrooms %}
<div class="col-xlg-4 col-md-6">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a href="/classroom/{{classroom.id}}">{{classroom.name}}</a>
                <span class="panel-desc">{{gettext('education_level:'+classroom.education_level)}}</span>
            </h3>
            <div class="panel-actions">
                <a href="/classroom/{{classroom.id}}/edit" type="button" class="panel-action" data-toggle="tooltip" data-original-title="Edit">
                    <i class="icon fa fa-pencil margin-right-0" aria-hidden="true"></i>
                </a>
                <a type="button" class="panel-action warning-confirm" data-target="#delete_{{classroom.id}}" data-toggle="tooltip" data-original-title="Delete">
                    <i class="icon fa fa-times margin-right-0" aria-hidden="true"></i>
                </a>
                <form id="delete_{{classroom.id}}" role="form" method="post" action="{{ '/classroom/' + classroom._id }}" class="hide">
                    <input type="hidden" name="_csrf" value="{{ csrf_token }}">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit">delete</button>
                </form>
            </div>
        </div>
        <div class="panel-body">
            <a href="/classroom/{{classroom.id}}">
                <img data-name="{{classroom.name|last}}" class="classroom img-rounded pull-left margin-right-20" style="width: 80px;">
            </a>
            <div class="overflow-hidden">
                <div class="pull-right">
                    <small>Administradores</small>
                    <div>
                        {% for teacher in classroom.teachers %}
                        <span class="avatar avatar-online margin-left-5" style="width: 30px;">
                           <img data-toggle="tooltip" data-original-title="{{teacher.name}}" data-name="{{teacher.name}}" class="profile">
                        </span>
                        {% endfor %}
                    </div>
                </div>
                <div class="inline-block margin-right-20">
                    <small>Alumnos</small>
                    <div class="margin-top-5">23</div>
                </div>
                <div class="inline-block">
                    <small>Creado</small>
                    <div class="margin-top-5">{{ classroom.createdDate.toISOString()|date('d M, Y  H:i') }}</div>
                </div>
                <p class="hide">
                    Curabitur aliquet quam id dui posuere blandit. Sed porttitor lectus nibh. Pellentesque in ipsum id orci porta
                    dapibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </div>
        </div>
    </div>
</div>
{% endfor %}
</div>

{% endblock %}