<div class="zone
{% if project.properties.turns && !group.finished %}
    {% if player_active != req.player.user.id %} turn-off {% endif %}
{% endif %}">
<div style="
    text-align: center;
    margin-bottom: 30px;
">
    <div class="pull-left" style="position: absolute;">
      <span class="fa wb-check-circle activity-valid" style="
        font-size: 70px;
        color: rgba(70, 190, 138, 1);
        display: none;
    "></span>
        <span class="fa fa-times-circle activity-wrong" style="
        font-size: 90px;
        display: none;
        color: rgba(249, 104, 104, 1);
    "></span>
    </div>
    <a  data-activity="{{posActivities.prev.id}}" data-num="{{posActivities.prev.num}}"
        id="prev-activity"
        href="/play/{{project.project}}/activity/{{posActivities.prev.id}}"
        class="select-activity btn btn-primary btn-floating  {% if !posActivities.prev %}disabled{% endif %}" style="
    border-radius: 100%;
    font-size: 30px;
    width: 65px;
    height: 65px;
    line-height: 65px;
    padding-right: 5px;
"><i class="fa fa-chevron-left"></i></a>

    <a class="btn btn-primary btn-outline btn-icon btn-round btn-lg {% if posActivities.current.valid || !posActivities.current.finished || (!posActivities.current.valid && !project.properties.required) %}disabled {% endif %}"
       id="restart-activity"
       style="
    font-size: 39px;
    margin-left: 50px;
"><i class="wb-refresh"></i>
    </a>

    <a  data-activity="{{posActivities.next.id}}" data-num="{{posActivities.next.num}}"
        id="next-activity"
        href="/play/{{project.project}}/activity/{{posActivities.next.id}}"
        class="select-activity btn btn-primary btn-floating animated  {% if !posActivities.next || !posActivities.current.finished || (!posActivities.current.valid && project.properties.required) %}disabled{% endif %}"
        style="
    border-radius: 100%;
    font-size: 30px;
    margin-left: 50px;
    width: 65px;
    height: 65px;
    line-height: 65px;
    padding-left: 5px;
" >
        <i class="fa fa-chevron-right"></i>
    </a>
</div>
{% set activity_result = {"finished": posActivities.current.finished, "valid": answer.activityData.valid} %}
{% set group_data = {"id": group._id, "finished": group.finished} %}
<div class="game"
     data-activity-result="{{activity_result|json_encode}}"
     {% if answer %}
     data-answer="{{answer.id}}"
     {% endif %}
     {% if group %}
     data-group="{{group_data|json_encode}}"
     {% endif %}
     style="position: relative;">
    {% for area in activity.elements.area %}
    <div class="element area"
         data-position="{{ area.position|json_encode }}"
         data-size="{{ area.size|json_encode }}"
         id="{{area.id}}"
         data-element="{{area.element_id}}"
        >
        {% for token in area.tokens %}

        {% set pair = answer.getPair(token.id) %}
        {% set answered = answer.getTokenById(token.id) %}
        {% if targets.indexOf(token.element_id) != -1 && answer %}
            {% set valueTokenMeter = answer.getCurrentValue(token.id) %}
        {% else %}
            {% set valueTokenMeter = 0 %}
        {% endif %}

        <div class="element token
                {% if token.clickable %} token-clickable {% endif %}
                {% if token.movable %} token-movable {% endif %}
                {% if targets.indexOf(token.element_id) != -1 %} token-droppable {% endif %}
                {% if answered %}
                    {% if token.clickable %} clicked {% endif %}
                    {% if token.movable %} dropped {% endif %}
                    {% if answered.valid %} checked correct {% else %} checked wrong {% endif %}
                {% endif %}
                {% if answer.isTokenAnswered(token.id) %}
                    <!-- El usuario ha seleccionado-->
                {% endif %}"
             style="display: none;width: 200px;"
             id="{{token.id}}"
             {% if pair %}
             data-droppedIn="{{pair.target|raw}}"
             data-connect="{{pair|json}}"
             {% endif %}
             data-element="{{token.element_id}}"
             data-position="{{ token.position|json_encode }}"
             data-size="{{ token.size|json_encode }}"
             data-value="{{token.value}}"
             data-currentvalue= {{valueTokenMeter}}
        >
            <div class="check">
                <div>
                    <div>
                        <i class="wb-close icon-wrong font-size-20" style="background-color: rgba(249, 104, 104, 1);display: none;"></i>
                        <i class="wb-check icon-correct font-size-20" style="background-color: rgba(70, 190, 138, 1);display: none;"></i>
                    </div>
                </div>
            </div>
            <span class="badge badge-radius badge-md" style="position: absolute;bottom: 5px;left: 5px;
            {% if Object.keys(interactions).length > 0 && interactions[token.id] %}
                display:block;
                {% if interactions[token.id].action == 'pair' %}
                    background-color: rgb({{interactions[token.id].color}});
                {% else %}
                    background-color: #43a9ff;
                {% endif %}
            {% else %}
                display: none;
            {% endif %}
            ">
                {% if Object.keys(interactions).length > 0 %}
                    {% if  interactions[token.id] %}
                        {% if  interactions[token.id].type == 'origin' %}
                            <span style="color: white;">{{interactions[token.id].num}}</span>
                        {% else %}
                            <span style="visibility: hidden;">0</span>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </span>
            <span class="badge badge-primary badge-radius" style="display:none;position: absolute;right: 10px;bottom: 10px;box-shadow: 0 2px 0 0 #3E7CB5;">0</span>
            {% if token.type == 'txt' %}
                {% include 'tokens/txt.html' %}
            {% elseif token.type == 'img' %}
                {% include 'tokens/img.html' %}
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
<style>
    .game .clicked{
        border: 3px solid #3583CA;
    }
    .game .wrong {
        border: 3px solid #f96868;
    }
    .game .wrong .icon-wrong{
        display: inline-block !important;
    }
    .game .correct {
        border: 3px solid #46be8a;
    }
    .game .correct .icon-correct{
        display: inline-block !important;
    }
    .game .checked .check {
        display: block;
    }
    .game .check {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(255, 255, 255, 0.4);
    }
    .game .check > div {
        display: table;
        width: 100%;
        height: 100%;
    }
    .game .check > div > div {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
    .game .check > div > div i{
        color: #ffffff;
        border-radius: 100%;
        height: 30px;
        width: 30px;
        line-height: 30px;
        position: absolute;
        right: -10px;
        bottom: -10px;
    }
    .btn-outline.btn-icon.disabled{
        color: #ffffff;
    }
</style>
{% if project.properties.delayed %}
<!-- Delayed property true -->
<div style="position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;">
    <button id="check-activity" data-activity="{{activity.id}}"  class="btn btn-primary btn-floating"><i class="wb-check"></i></button>
</div>
<!-- Delayed property true -->
{% endif %}
</div>