<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action='' name='myform' id="projectId" method='POST' enctype="multipart/form-data">
    <input type="hidden" name="_csrf" value="{{ csrf_token }}">
    <div class="form-group">
        <label class="col-sm-7 control-label">
            Id del Proyecto
        </label>
        <div class="col-sm-5">
            <div class="pull-left margin-right-20">
                <input type="text" name="id" id="id">
            </div>
        </div>
    </div>
    <input type='submit' value='Ir al proyecto'>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script>
    // Shorthand for $(document).ready();
    $(function() {
        $('#projectId').submit(function(){
            var projectId = $('#id').val();
            $(this).attr('action',projectId);
        });
    });
</script>
</body>
</html>