{% extends '../layouts/play.html' %}

{% block details %}
{{project.name}}
<div>
    {% for activity in project.activities %}
    <a class="margin-right-20 margin-bottom-15 btn btn-sm btn-primary {% if req.activity.id == activity.id %}btn-info{% endif %}" href="/play/{{project.project}}/activity/{{activity.id}}">
        Actividad {{loop.index}}
    </a>
    {% endfor %}
</div>
{% endblock %}

{% block content %}
<script>
$(function() {
    socket.on('news', function (data) {
        console.log('QUE');
        socket.emit('my other event', {my: 'data'});
    });
    $(document).on('click', '.token-clickable', function () {
        var element_id = $(this).attr('id');
        socket.emit('event:click:token', {id: element_id});
    });
    $(document).on('click', '.select-player', function () {
        var element_id = $(this).data('user');
        socket.emit('player:connected', {room: '{{project.id}}', id: element_id});
    });
    socket.on('connect', function () {
        // El usuario se añade a la sala de la clase
//        socket.join('{{project.id}}');

        $('#modal-select-player').modal({
            show: true,
            keyboard: false,
//            backdrop: 'static'
        });
//        socket.emit('player:connected', {id: element_id});
        socket.on('event:token', function (data) {
            console.log(data.id);
            $('#'+data.id).find('.badge').text('2').show();
        });
    });
});
</script>
<script>
$(window).on('resize', loadElements);

function loadElements(){
    var win = $(this),
        elements = $('.element'),
        orig = {
            width: {{project.resolution.x}},
            height: {{project.resolution.y}},
        },
        res = {
            width: $('.play-table').innerWidth(),
            height: $('.play-table').height()
        },
        coefficient = resolutionAdjust(orig, res);

    elements.hide();
    elements.each(function(){
        $(this).css({
            'left': ($(this).data('position').x)*coefficient.x,
            'top': ($(this).data('position').y)*coefficient.y,
            'width': ($(this).data('size').width)*coefficient.x,
            'height': ($(this).data('size').height)*coefficient.y
        });
        $(this).fadeIn('fast');
    });
}
function resolutionAdjust(orig, new_res) {
    return {
        x: (new_res.width*1)/orig.width,
        y: (new_res.height*1)/orig.height
    }
}
</script>
<style>
    .element{
        position: absolute;
    }
    .area{
        background-color: #f0f1f1;
        border: 2px dashed #8c8c8c;
    }
    .token{
        background-color: #fff;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        background-color: #fff;
        padding: 10px;
        border: 1px solid #8c8c8c;
        transition: all 0.3s ease;
        /*border-bottom-color: #DEDEDE;*/
        /*border-bottom: 3px solid;*/
        border-radius: 8px;
        margin: 0px 5px 10px 0px;
        box-shadow: 0 2px 0 0 #AFAFAF;
    }
    .token-clickable{
        cursor: pointer;
    }
    .token-clickable:hover{
        transform: scale(1.1);
    }
    .token-clickable:active{
        opacity: 0.8;
        box-shadow: 0 0 0 0 #AFAFAF;
    }
</style>
<div class="modal fade modal-slide-from-bottom modal-primary" id="modal-select-player"
     aria-hidden="true" role="dialog"
     tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Selecciona tu jugador</h4>
            </div>
            <div class="modal-body">
                <div class="row list-group">
                    {% for player in project.players %}
                        <a class="col-md-6 list-group-item select-player" data-user="{{player.id}}" href="javascript:;">
                            <div class="media">
                                <div class="media-left">
                                    <span class="avatar avatar-online">
                                       <img data-name="{{player.name}}" class="profile">
                                    </span>
                                </div>
                                <div class="media-body font-size-16" style="vertical-align: middle;">
                                    {{player.name}}
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


<div style="position: relative;">
    {% for area in areas %}
    <div class="element area" data-position="{{ area.position|json_encode }}" data-size="{{ area.size|json_encode }}">
        {% for token in area.tokens %}
        <div class="element token {% if token.clickable %}token-clickable{% endif %}" style="display: none;width: 200px;"
             id="{{token.id}}"
             data-position="{{ token.position|json_encode }}"
             data-size="{{ token.size|json_encode }}"
        >
            <span class="badge badge-primary badge-radius" style="display:none;position: absolute;right: 10px;bottom: 10px;box-shadow: 0 2px 0 0 #3E7CB5;"></span>
            {% if token.type == 'txt' %}
                {% include 'tokens/txt.html' %}
            {% elseif token.type == 'img' %}
                {% include 'tokens/img.html' %}
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}