@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?8x4jyl');
	src:url('fonts/icomoon.eot?8x4jyl#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?8x4jyl') format('truetype'),
		url('fonts/icomoon.woff?8x4jyl') format('woff'),
		url('fonts/icomoon.svg?8x4jyl#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-100:before {
	content: "\e900";
}
.icon-97:before {
	content: "\e901";
}
.icon-98:before {
	content: "\e902";
}
.icon-99:before {
	content: "\e903";
}
.icon-94:before {
	content: "\e904";
}
.icon-95:before {
	content: "\e905";
}
.icon-96:before {
	content: "\e906";
}
.icon-91:before {
	content: "\e907";
}
.icon-92:before {
	content: "\e908";
}
.icon-93:before {
	content: "\e909";
}
.icon-88:before {
	content: "\e90a";
}
.icon-89:before {
	content: "\e90b";
}
.icon-90:before {
	content: "\e90c";
}
.icon-85:before {
	content: "\e90d";
}
.icon-86:before {
	content: "\e90e";
}
.icon-87:before {
	content: "\e90f";
}
.icon-82:before {
	content: "\e910";
}
.icon-83:before {
	content: "\e911";
}
.icon-84:before {
	content: "\e912";
}
.icon-80:before {
	content: "\e913";
}
.icon-81:before {
	content: "\e914";
}
.icon-77:before {
	content: "\e915";
}
.icon-78:before {
	content: "\e916";
}
.icon-79:before {
	content: "\e917";
}
.icon-74:before {
	content: "\e918";
}
.icon-75:before {
	content: "\e919";
}
.icon-76:before {
	content: "\e91a";
}
.icon-71:before {
	content: "\e91b";
}
.icon-72:before {
	content: "\e91c";
}
.icon-73:before {
	content: "\e91d";
}
.icon-68:before {
	content: "\e91e";
}
.icon-69:before {
	content: "\e91f";
}
.icon-70:before {
	content: "\e920";
}
.icon-65:before {
	content: "\e921";
}
.icon-66:before {
	content: "\e922";
}
.icon-67:before {
	content: "\e923";
}
.icon-62:before {
	content: "\e924";
}
.icon-63:before {
	content: "\e925";
}
.icon-64:before {
	content: "\e926";
}
.icon-59:before {
	content: "\e927";
}
.icon-60:before {
	content: "\e928";
}
.icon-61:before {
	content: "\e929";
}
.icon-56:before {
	content: "\e92a";
}
.icon-57:before {
	content: "\e92b";
}
.icon-58:before {
	content: "\e92c";
}
.icon-53:before {
	content: "\e92d";
}
.icon-54:before {
	content: "\e92e";
}
.icon-55:before {
	content: "\e92f";
}
.icon-50:before {
	content: "\e930";
}
.icon-51:before {
	content: "\e931";
}
.icon-52:before {
	content: "\e932";
}
.icon-47:before {
	content: "\e933";
}
.icon-48:before {
	content: "\e934";
}
.icon-49:before {
	content: "\e935";
}
.icon-44:before {
	content: "\e936";
}
.icon-45:before {
	content: "\e937";
}
.icon-46:before {
	content: "\e938";
}
.icon-41:before {
	content: "\e939";
}
.icon-42:before {
	content: "\e93a";
}
.icon-43:before {
	content: "\e93b";
}
.icon-38:before {
	content: "\e93c";
}
.icon-39:before {
	content: "\e93d";
}
.icon-40:before {
	content: "\e93e";
}
.icon-35:before {
	content: "\e93f";
}
.icon-36:before {
	content: "\e940";
}
.icon-37:before {
	content: "\e941";
}
.icon-32:before {
	content: "\e942";
}
.icon-33:before {
	content: "\e943";
}
.icon-34:before {
	content: "\e944";
}
.icon-29:before {
	content: "\e945";
}
.icon-30:before {
	content: "\e946";
}
.icon-31:before {
	content: "\e947";
}
.icon-27:before {
	content: "\e948";
}
.icon-28:before {
	content: "\e949";
}
.icon-23:before {
	content: "\e94a";
}
.icon-24:before {
	content: "\e94b";
}
.icon-25:before {
	content: "\e94c";
}
.icon-26:before {
	content: "\e94d";
}
.icon-21:before {
	content: "\e94e";
}
.icon-22:before {
	content: "\e94f";
}
.icon-18:before {
	content: "\e950";
}
.icon-19:before {
	content: "\e951";
}
.icon-20:before {
	content: "\e952";
}
.icon-15:before {
	content: "\e953";
}
.icon-16:before {
	content: "\e954";
}
.icon-17:before {
	content: "\e955";
}
.icon-12:before {
	content: "\e956";
}
.icon-13:before {
	content: "\e957";
}
.icon-14:before {
	content: "\e958";
}
.icon-09:before {
	content: "\e959";
}
.icon-10:before {
	content: "\e95a";
}
.icon-11:before {
	content: "\e95b";
}
.icon-06:before {
	content: "\e95c";
}
.icon-07:before {
	content: "\e95d";
}
.icon-08:before {
	content: "\e95e";
}
.icon-03:before {
	content: "\e95f";
}
.icon-04:before {
	content: "\e960";
}
.icon-05:before {
	content: "\e961";
}
.icon-01:before {
	content: "\e962";
}
.icon-02:before {
	content: "\e963";
}

