{% extends "../layouts/default.html" %}

{% block title %} {{ gettext("new:project") }} {% endblock %}
{% block page-header %}
    {{ gettext("new:project") }}
{% endblock %}
{% block content %}

{% if project.isNew %}
    {% set action = '/project/new' %}
{% else %}
    {% set action = '/project/' + project._id %}
{% endif %}
<form data-validation="true" enctype="multipart/form-data" class="form-horizontal" action="{{action}}" method="post" role="form">
<div class="row">
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-body container-fluid">
                <input type="hidden" name="_csrf" value="{{ csrf_token }}">
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{gettext('project:name')}}</label>
                    <div class="col-sm-9">
                        <input type="text" required class="form-control" name="name" value="{{project.name}}" placeholder="{{gettext('project:name:example')}}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{gettext('project:file')}}</label>
                    <div class="col-sm-9">
                        <div class="input-group input-group-file">
                            <input type="text" class="form-control" readonly="">
                            <span class="input-group-btn">
                              <span class="btn btn-success btn-file">
                                <i class="icon fa fa-upload" aria-hidden="true"></i>
                                <input type="file" name="file_upload" required>
                              </span>
                            </span>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{gettext('education_level')}}</label>
                    <div class="col-sm-9">
                        <select data-plugin="selectpicker" name="education_level">
                            {% for education_level in classroom.getEducationLevels() %}
                            <option value="{{education_level}}" {% if classroom.education_level == education_level %} selected {% endif %}>
                                {{gettext('education_level:'+education_level)}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{gettext('project:subject')}}</label>
                    <div class="col-sm-9">
                        <select multiple data-plugin="selectpicker" multiple data-selected-text-format="count">
                            {% for subject in project.getSubjects() %}
                            <option data-icon="{{subject.icon}}">{{gettext(subject.name)}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{gettext('description')}}</label>
                    <div class="col-sm-9">
                        <textarea name="description" value="{{project.description}}" placeholder="{{gettext('project:description:example')}}" class="maxlength-textarea form-control" data-plugin="maxlength" data-placement="bottom-right-inside" maxlength="100" rows="3"></textarea>
                    </div>
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">{{gettext('submit')}}</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Classroom / students -->
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-body container-fluid">
            {% include "../player/admin/list.html" with players %}
            </div>
        </div>
    </div>
    <!-- Classroom / students end -->
</div>
</form>
{% endblock %}