{% extends '../layouts/default.html' %}

{% block content %}
<script>
$(function(){
    socket.on('player:connected', function (data) {
        alert('h');
//        socket.emit('my other event', {my: 'data'});
    });
    socket.on('testing', function (data) {
        alert('HA LLEGADO');
    });

//    var admin = io( '127.0.0.1:3000/admin-{{project.id}}' );
//    admin.on('connect', function () {
//        admin.on('client:project:player:connected', function (data) {
//            alert('ROOM');
//            $('#'+data.id).attr('class', 'avatar avatar-'+ data.status);
//        });
//    });

    socket.on('connect', function () {
        socket.emit('project:join', '{{project.id}}');
        socket.on('client project:player:disconnected', function (data) {
//            alert('Desconectedo');
            $('#'+data.id).attr('class', 'avatar avatar-'+ data.status);
        });
        socket.on('client project:player:connected', function (data) {
            console.log(data);
//            alert('who');
            $('#'+data.id).attr('class', 'avatar avatar-'+ data.status);
        });
    });
});
</script>

<div>
    <a class="btn btn-primary" href="/play/{{project.project}}">Jugar {{project.project}}</a>
</div>
<hr>
<ul class="nav-quick nav-quick-sm row">
    <li class="col-sm-2 col-xs-4">
        <a href="javascript:void(0)">
            <i class="icon wb-settings" aria-hidden="true"></i> Settings
        </a>
    </li>
    <li class="col-sm-2 col-xs-4">
        <a href="javascript:void(0)">
            <i class="icon wb-user" aria-hidden="true"></i> User list
        </a>
    </li>
    <li class="col-sm-2 col-xs-4">
        <a href="javascript:void(0)">
            <i class="icon wb-wrench" aria-hidden="true"></i> Admin tools
        </a>
    </li>
    <li class="col-sm-2 col-xs-4">
        <a href="javascript:void(0)">
            <i class="icon wb-upload" aria-hidden="true"></i> Upload
        </a>
    </li>
    <li class="col-sm-2 col-xs-4">
        <a href="javascript:void(0)">
            <i class="icon wb-lock" aria-hidden="true"></i> Lock
        </a>
    </li>
    <li class="col-sm-2 col-xs-4">
        <a href="javascript:void(0)">
            <i class="icon wb-search" aria-hidden="true"></i> Search
        </a>
    </li>
</ul>
<div class="row">
    <!-- Activities list -->
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">{{gettext('activities')}}</h3>
            </div>
            <div class="panel-body">
                <div class="list-group list-group-dividered list-group-full">
                {% for activity in project.activities %}
                    <div class="list-group-item" data-activity="{{activity.id}}">
                        <div class="media-left">
                            <div style="background-image: url('{{project.path}}/screenshots/{{project.screenshots[loop.index-1]}}');width: 200px;height: 100px;background-size: cover;border: 1px solid #e4eaec;border-radius: 4px;"></div>
                        </div>
                        <div class="media-body">
                            <h4>{{gettext('activity')}} {{loop.index}}</h4>
                        </div>
                        <div class="row margin-bottom-10 margin-top-10">
                            <div class="col-md-6" style="border-right: 1px solid #e4eaec;">
                                Correcto
                                <div class="check">

                                </div>
                            </div>
                            <div class="col-md-6">
                                Incorrecto
                                <div class="uncheck">

                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- Activities list end -->

    <!-- Players list -->
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">{{gettext('students')}}</h3>
            </div>
            <div class="panel-body">
                <div class="list-group list-group-dividered list-group-full">
                {% for player in project.players %}
                <div class="list-group-item">
                    <div class="media-left margin-right-10 margin-left-5">
                        <span id="{{player.user.id}}" class="avatar avatar-off" style="width: 25px">
                           <img data-name="{{player.user.name}}" class="profile img-circle">
                            <i></i>
                        </span>
                    </div>
                    <div class="media-body">
                        {{player.user.name}}
                        <div class="pull-right">
                            {% if loop.index == 1 %}
                            <span class="label label-default">Sin empezar</span>
                            {% endif %}
                            {% if loop.index == 2 %}
                            <span class="label label-success">Terminado</span>
                            {% endif %}
                            {% if loop.index == 3 %}
                            <span class="label label-warning"><i class="wb-eye"></i> Actividad 2</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- Players list end -->
</div>
{% endblock %}