{% extends '../layouts/default.html' %}

{% block content %}
{% include 'includes/header.html' %}
<script>
$(function(){
    socket.on('connect', function () {
        socket.emit('project:join', '{{project.id}}');
    });

    socket.on('client project:player:connected', function (data) {
        var $element = $('#'+data.player.user.id);
        $element.find('.avatar').attr('class', 'avatar avatar-'+ data.status);
    });
    socket.on('client project:player:disconnected', function (data) {
        var $element = $('#'+data.player.user.id);
        $element.find('.avatar').attr('class', 'avatar avatar-off');
    });
    socket.on('client project:activity:join', function (data) {
        var $element = $('#'+data.player.user.id);
        $element.find('.player-status')
            .html('<span class="label label-warning"><i class="wb-eye"></i> Actividad '+data.status+'</span>');
    });
});
</script>

<style>
.activities-list .answers .avatar{
    margin-right: 5px;
}
</style>
<div class="row">
    <!-- Activities list -->
    {% set activities_count = project.activities.length %}
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-heading">
                <a target="_blank" href="{{projectUrl}}/export" class="margin-top-10 margin-right-10 pull-right btn btn-outline btn-default">
                    <i class="fa fa-file-excel-o"></i> Descargar Excel
                </a>
                <h3 class="panel-title">{{gettext('activities')}}</h3>
            </div>
            <div class="panel-body">
                <div class="activities-list list-group list-group-full">
                {% for activity in project.activities %}
                    <div class="list-group-item" data-activity="{{activity.id}}">
                        <div class="media-left">
                            <div style="background-image: url('{{project.path}}/screenshots/{{project.screenshots[loop.index-1]}}');width: 200px;height: 100px;background-size: cover;border: 1px solid #e4eaec;border-radius: 4px;"></div>
                        </div>
                        <div class="media-body">
                            <h4>{{gettext('activity')}} {{loop.index}}</h4>
                            <!-- Answers -->
                            <div class="answers row margin-bottom-10 margin-top-10">
                                {% set answers_data = answers[activity.id] %}
                                
                                <div class="col-md-6" style="border-right: 1px solid #e4eaec;">
                                    Correcto
                                    <div class="check margin-top-5">
                                        {% for answer in answers_data.valid %}
                                        <span class="avatar margin-bottom-5" style="width: 25px">
                                           <img data-name="{{answer.player.name}}" data-toggle="tooltip" data-original-title="{{answer.player.name}}" class="profile img-circle">
                                        </span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    Incorrecto
                                    <div class="wrong margin-top-5">
                                        {% for answer in answers_data.wrong %}
                                        <span class="avatar" style="width: 25px">
                                           <img data-name="{{answer.player.name}}" data-toggle="tooltip" data-original-title="{{answer.player.name}}" class="profile img-circle">
                                        </span>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <!-- Answers end -->
                        </div>
                    </div>
                    <hr>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- Activities list end -->

    <!-- Players list -->
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">{{gettext('play:how_to')}}</h3>
            </div>
            <div class="panel-body">
                {% if req.headers['x-forwarded-host'] %}
                    {% set full_url = req.protocol + '://' + req.headers['x-forwarded-host']; %}
                {% else %}
                    {% set full_url = req.protocol + '://' + req.get('host'); %}
                {% endif %}
                <div class="input-group">
                    <input type="text" id="play-url" class="form-control" value="{{full_url}}/play/{{project.project}}" onclick="this.setSelectionRange(0, this.value.length)" style="cursor: pointer;">
                    <span class="input-group-btn">
                        <button type="button"
                              data-plugin="clipboard"
                              data-clipboard-target="#play-url"
                              data-toggle="tooltip"
                              title="{{gettext('copy:clipboard')}}"
                              data-copied="{{gettext('copy:clipboard:copied')}}"
                              class="btn btn-default btn-outline"><i class="wb-clipboard"></i> {{gettext('copy')}}</button>
                    </span>
                </div>
                <span class="help-block">A block of help text that breaks onto a new line and may extend
                  beyond one line.</span>
            </div>
        </div>
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">{{gettext('students')}}</h3>
            </div>
            <div class="panel-body">
                {% if project.players.length == 0 %}
                {{gettext('students:none')}}
                <br>
                <a href="{{projectUrl}}/settings">{{gettext('students:add')}}</a>
                {% else %}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>{{gettext('student')}}</th>
                        <th class="width-100">{{gettext('progress')}}</th>
                        <th class="width-100">{{gettext('status')}}</th>
                        <th class="hide width-50"></th>
                    </tr>
                    </thead>
                    {% for player in project.players %}
                    <tr id="{{player.user.id}}">
                        <td>
                            <div class="margin-right-10 inline-block">
                            <span class="avatar avatar-{% if player.online %}online{% else %}off{% endif %}" style="width: 25px">
                               <img data-name="{{player.user.name}}" class="profile img-circle">
                                <i></i>
                            </span>
                            </div>
                            {{player.user.name}}
                        </td>
                        <td class="text-center progress-stats">
                            {% include 'includes/progress.html' %}
                        </td>
                        <td class="player-status">
                            {% include 'includes/status.html' %}
                        </td>
                        <td class="hide">
                            <div class="dropdown">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" id="dropdownResetAnswer{{player.user.id}}"
                                        aria-expanded="true" data-toggle="dropdown">
                                    <i class="fa fa-cog"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" style="width: 220px;" role="menu">
                                    <li role="presentation">
                                        <a href="javascript:void(0)" style="text-decoration: none;" role="menuitem" tabindex="-1">{{gettext('answers:reset')}}</a>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a href="javascript:void(0)" style="text-decoration: none;" role="button" tabindex="-1">{{gettext('answer:reset:activity')}}</a>
                                        <ul class="dropdown-menu dropdown-menu-left" role="menu" style="left: -100%;width: 220px;">
                                            {% for activity in project.activities %}
                                            <li role="presentation">
                                                <a href="javascript:void(0)" style="text-decoration: none;" role="menuitem" tabindex="-1">
                                                    {{gettext('activity')}} {{loop.index}}
                                                </a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Players list end -->
</div>
{% endblock %}