{% extends '../layouts/auth.html' %}

{% block auth %}

<form method="post" action="/forgot" role="form">
    <h3 class="font-size-24">{{gettext('user:recpwd')}}</h3>
    <p>{{gettext('user:sendpwd')}}</p>

    <input type="hidden" name="_csrf" value="{{ csrf_token }}">

    <!--<div>{{gettext('user:signup:usingemail')}}</div>-->
    <div class="form-group error">
        {% include '../includes/messages.html' %}
    </div>

    <div class="form-group">
        <label class="sr-only" for="inputEmail">{{gettext('user:email')}}</label>
        <input type="email" class="form-control" id="inputEmail" required name="email" placeholder="{{gettext('user:email')}}">
    </div>

    <button type="submit" class="btn btn-primary btn-block">Recuperar contraseña</button>

</form>

{% endblock %}
