{% extends '../layouts/auth.html' %}

{% block auth %}
<h3 class="font-size-24">{{gettext('user:signup')}}</h3>
<p>{{gettext('user:signin:description')}}</p>

<form method="post" action="/signup" role="form">
    <input type="hidden" name="_csrf" value="{{ csrf_token }}">
    <div class="form-group row">
        <div class="col-md-6">
            <button type="button" class="btn btn-labeled social-twitter text-left" style="width: 100%">
                <span class="btn-label"><i class="icon fa fa-twitter" aria-hidden="true"></i></span>
                Twitter
            </button>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-labeled social-facebook text-left" style="width: 100%">
                <span class="btn-label"><i class="icon fa fa-facebook" aria-hidden="true"></i></span>
                Facebook
            </button>
        </div>
    </div>
    <div class="separator-text"><span>{{gettext('user:signup:or')}}</span></div>
    <div>{{gettext('user:signup:usingemail')}}</div>
    <div class="form-group error">
        {% include '../includes/messages.html' %}
    </div>
    <div class="form-group">
        <label class="sr-only" for="inputName">{{gettext('user:name')}}</label>
        <input type="text" class="form-control" id="inputName" required name="name" placeholder="{{gettext('user:name')}}">
    </div>
    <div class="form-group">
        <label class="sr-only" for="inputEmail">{{gettext('user:email')}}</label>
        <input type="email" class="form-control" id="inputEmail" required name="email" placeholder="{{gettext('user:email')}}">
    </div>
    <div class="form-group">
        <label class="sr-only" for="inputPassword">{{gettext('user:password')}}</label>
        <input type="password" data-plugin="strength" class="form-control" id="inputPassword" autofocus required name="password" placeholder="{{gettext('user:password')}}">
    </div>
    <button type="submit" class="btn btn-primary btn-block">{{gettext('user:signup')}}</button>
</form>

<p>{{gettext('user:haveaccount')}} <a href="/login">{{gettext('user:signin')}}</a></p>
{% endblock %}

