<script>
    $('[data-name].classroom').initial({
        charCount: 1
    });
    $('[data-name].profile').initial({
        charCount: 2
    });
    $(".check-all").change(function () {
        var container = $(this).data('container-check');
        $(container).find("input:checkbox").prop('checked', $(this).prop("checked"));
    });
</script>
<div class="row">
    <div class="col-md-5">
        <ul class="list-group list-group-bordered list-group-dividered" style="border-right: 1px solid #f3f7f9;">
            {% set students_class = {} %}
            {% for classroom in classrooms %}
            {% set students_class[loop.index] = classroom.players %}
            <li class="list-group-item {% if loop.first %}active{% endif %}" data-target="#tab-{{loop.index}}" role="tab" data-toggle="tab" style="border-width: 1px 0 0 0;cursor: pointer;">
                <div class="media">
                    <div class="media-left">
                        <span>
                           <img data-name="{{classroom.name|last}}" class="classroom img-rounded" style="width: 30px;">
                        </span>
                    </div>
                    <div class="media-body">
                        <div>{{classroom.name}}</div>
                        <small>{{gettext('education_level:'+classroom.educationLevel)}}</small>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        <a href="/classroom/new"><i class="wb-plus"></i> {{gettext('classroom:create')}}</a>
    </div>
    <div class="col-md-7 tab-content">
        <h5>{{gettext('students')}}</h5>
        {% for classroom_index in students_class %}
        <div class="tab-pane {% if loop.first %}active{% endif %}" id="tab-{{loop.index}}">
        <ul id="check-{{loop.index}}" class="list-group list-group-dividered list-group-full">
            {% if classroom_index.length == 0 %}
            <li class="list-group-item disabled" style="border: 0">{{gettext('classroom:students:none')}}</li>
            {% else %}
            <li class="list-group-item padding-0">
                <div class="checkbox-custom checkbox-primary">
                    <input type="checkbox" class="check-all uncheck" id="checkbox-{{loop.index}}" data-container-check="#check-{{loop.index}}">
                    <label class="text-muted" for="checkbox-{{loop.index}}">{{gettext('select:all')}}</label>
                </div>
            </li>
            <li style="list-style: none;">
                <ul class="list-group list-group-full max-height-350">
                    {% for student in classroom_index %}
                    <li data-user="{{student.user.id}}" class="list-group-item">
                        <div class="checkbox-custom checkbox-primary margin-0">
                            <input type="checkbox" value="{{student.user.id}}" id="user[{{classroom_index.length}}-{{student.user.id}}]" class="check-all" data-container-check="#check-container">
                            <label for="user[{{classroom_index.length}}-{{student.user.id}}]" class="show">
                                <span class="margin-right-10 margin-left-5">
                                   <img data-name="{{student.user.name}}" class="profile img-circle" style="width: 25px;">
                                </span>
                                <span class="student-name">{{student.user.name}}</span>
                            </label>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
        </ul>
        </div>
        {% endfor %}
    </div>
</div>