{% extends 'default.html' %}
{% block head %}
    {% parent %}
    <link rel="stylesheet" href="/css/auth.css">
{% endblock %}
{% block body %}
<body class="page-walled-garden layout-full page-dark">
<div class="page animsition">
    <div class="page-content">
        <div class="cover-bg"></div>
        <div class="page-brand-info">
            <div class="brand">
                <h2 class="brand-text font-size-40">Dedos</h2>
            </div>
            <p class="font-size-20">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <div class="page-auth-main">
            <div class="brand text-center">
                <img class="brand-img" src="/images/dedos-logo.png" alt="Logo">
            </div>

            {% block auth %}{% endblock %}

        </div>
    </div>
</div>
{% include '../includes/foot.html' %}
</body>
{% endblock %}