<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>{{ title }} | {{ pkg.name }}</title>
  <meta name="keywords" content="{{ pkg.keywords.join(',') }}">
  <meta name="description" content="{{ pkg.description }}">

  {% block head %}
  {# Styles #}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/bootstrap-extend.css">
  <link rel="stylesheet" href="/css/site.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,500,300italic">
  {% endblock %}


  {# HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries #}
  <!--[if lt IE 9]>
  <script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script>
  <script src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js'></script>
  <![endif]-->
</head>

{% block body %}
<body class="site-menubar-unfold">
  {% include '../includes/header.html' %}
    <div class="messages">
      {% include '../includes/messages.html' %}
    </div>
    <div class="site-menubar">
      {% include '../includes/menu.html' %}
    </div>
    <div class="page animsition">
        <div class="page-header">
            <h1 class="page-title">Blockquotes</h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a></li>
                <li class="active">Structure</li>
            </ol>
        </div>
        <div class="page-content container-fluid">
            {% block content %}{% endblock %}
        </div>
    </div>
  {% include '../includes/footer.html' %}
  {% include '../includes/foot.html' %}
</body>
{% endblock %}

</html>
