<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>{{ title }} | {{ pkg.name }}</title>
  <meta name="keywords" content="{{ pkg.keywords.join(',') }}">
  <meta name="description" content="{{ pkg.description }}">

  {% block head %}
  {# Styles #}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <link href="//netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/bootstrap-extend.css">
  <link rel="stylesheet" href="/css/site.css">
  <!-- Scripts -->
  <link rel="stylesheet" href="/css/documents.css">
  <link rel="stylesheet" href="/assets/vendor/bootstrap-select/bootstrap-select.min.css?v2.0.0">
  <link rel="stylesheet" href="/assets/vendor/footable/footable.core.css?v2.0.0">
  <link rel="stylesheet" href="/css/vendors/sweet-alert.css?v2.0.0">
  <link rel="stylesheet" href="/assets/fonts/web-icons/web-icons.min.css?v2.0.0">
  <link rel="stylesheet" href="/images/education/style.css">
  <link rel="stylesheet" href="/assets/vendor/webui-popover/webui-popover.min.css?v2.0.0">
  <link rel="stylesheet" href="/assets/vendor/jquery-strength/jquery-strength.min.css?v2.0.0">
  <link rel="stylesheet" href="/assets/vendor/jt-timepicker/jquery-timepicker.min.css?v2.1.0">

  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,500,300italic">
  {% endblock %}


  {# HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries #}
  <!--[if lt IE 9]>
  <script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script>
  <script src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js'></script>
  <![endif]-->
    <script src="/assets/vendor/breakpoints/breakpoints.min.js"></script>
    <script>
        Breakpoints();
        $.ajaxSetup({
            headers: {"X-CSRF-Token": "{{csrf_token}}" }
        });
        $.ajaxPrefilter(function( options, originalOptions, jqXHR ) {
            options.async = true;
        });
    </script>
</head>


{% block body %}
<body class="site-menubar-unfold">
  {% include '../includes/header.html' %}
    <div class="site-menubar">
      {% include '../includes/menu.html' %}
    </div>
    <div class="page animsition">
        <div class="messages">
            {% include '../includes/messages.html' %}
        </div>
        {% if title %}
        <div class="page-header">
            <h1 class="page-title">
                <div class="pull-right">
                {% block actions %}{% endblock %}
                </div>
                {{title}}
            </h1>
            <!--<ol class="breadcrumb">-->
                <!--<li><a href="../index.html">Home</a></li>-->
                <!--<li class="active">Structure</li>-->
            <!--</ol>-->
        </div>
        {% endif %}
        <div class="page-content container-fluid">
            {% block content %}{% endblock %}
        </div>
    </div>
  {% include '../includes/footer.html' %}
  {% include '../includes/foot.html' %}
</body>
{% endblock %}

</html>
