{% extends 'default.html' %}

{% block head %}
    {% parent %}
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="/js/play.js"></script>
    <link href='https://fonts.googleapis.com/css?family=McLaren' rel='stylesheet' type='text/css'>
    <script>
        var socket = io.connect('127.0.0.1:3000');
    </script>
{% endblock %}

{% block body %}
<body class="page-walled-garden layout-full page-dark">
<div class="page animsition">
    {% if player.user %}
        {% include '../includes/menu_play.html' %}
    {% endif %}
    <div class="page-content" style="height: 100%;">

        {{project.name}}

        {% if project.properties.showActivities %}
        <!-- Listado de actividades -->
        <div>
            {% for activity in project.activities %}
            <a data-activity="{{activity.id}}" data-num="{{loop.index}}" class="select-activity margin-right-20 margin-bottom-15 btn btn-sm btn-primary {% if req.activity.id == activity.id %}btn-info{% endif %}" href="/play/{{project.project}}/activity/{{activity.id}}">
                {{loop.index}}
            </a>
            {% endfor %}
        </div>
        {% endif %}

        <div class="row play" style="height: 100%;" data-context="">
            {% block play %}{% endblock %}
        </div>

    </div>
    {% include '../includes/main_game.html' %}
</div>
{% include '../includes/foot.html' %}
</body>
{% endblock %}