<div class="modal fade modal-slide-from-bottom modal-primary" id="modal-finished-project"
     aria-hidden="true" role="dialog"
     tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Juego terminado</h4>
            </div>
            <div class="modal-body text-center" style="padding: 50px 20px;">
                <i class="icon fa fa-thumbs-o-up" aria-hidden="true" style="font-size: 100px;color: #43a9ff;"></i>
                <h2>¡Enhorabuena! has terminado el juego</h2>
            </div>
        </div>
    </div>
</div>